@using WTMS.DataAccess
@model List<systemuser>
@{
    ViewBag.Title = "Home Page";
    ViewBag.CurrentYear = DateTime.Today.Year;
    ViewBag.StartYear = DateTime.Today.AddYears(-8).Year;
    ViewBag.CurrentMonth = DateTime.Today.Month;
    ViewBag.StartMonth = ViewBag.CurrentMonth;
}

<h2 style="text-align:center; margin: 0 auto;">
    <img src="~/Content/Images/Icon/yanhua.png" style="height: 25px; " /> 维特牧思 进驻南通 <img src="~/Content/Images/Icon/yanhua_reverse.png" style="height: 25px; " />
</h2>

<p>
    上市教育品牌、央视专题报道的国内蒙氏教育先践者--维特牧思·蒙特梭利儿童之家，2017正式进驻南通！
</p>

<h3 style="margin-bottom: 0">
    免费预约试听课
</h3>
<small style="color: #d9534f">
    报名后到店参与免费试听课即可领取精美礼品一份哦！
</small>
<br /><br />
<form name="form" action="#" method="post">
    <label for="text-basic">联系电话：</label>
    <input type="text" name="phone" id="phone" value="">

    <label for="babyname">宝宝姓名：</label>
    <input type="text" name="babyname" id="babyname" value="">

    <fieldset data-role="controlgroup" data-type="horizontal">
        <legend>宝宝生日：</legend>
        <label for="birth-year">年份</label>
        <select name="birth-year" id="birth-year">
            @for (var i = ViewBag.CurrentYear; i >= ViewBag.StartYear; i--)
            {
                <option value="@i">@i</option>
            }
        </select>
        <label for="birth-month">月份</label>
        <select name="birth-month" id="birth-month">
            @for (var i = 1; i <= 12; i++)
            {
                <option value="@i">@i</option>
            }
        </select>
    </fieldset>

    <fieldset data-role="controlgroup" data-type="horizontal">
        <legend>Horizontal:</legend>
        <input type="radio" name="gender" id="gender-m" value="M">
        <label for="gender-m">男宝宝</label>
        <input type="radio" name="gender" id="gender-f" value="F">
        <label for="gender-f">女宝宝</label>
    </fieldset>

    <label for="text-basic">校区：</label>
    <fieldset data-role="controlgroup">
        <input type="radio" name="school" id="school-choice-1" value="星光耀" checked="checked">
        <label for="school-choice-1">星光耀广场校区</label>
        <input type="radio" name="school" id="school-choice-2" value="choice-1" disabled>
        <label for="school-choice-2">更多校区即将陆续开放</label>
    </fieldset>

    <div class="ui-field-contain">
        <label for="sales">顾问老师：</label>
        <select name="sales" id="sales" data-mini="true">
            <option value="0"></option>
            @for (var i = 0; i < Model.Count(); i++)
            {
                if (ViewBag.SelectedSales == Model[i].id)
                {
                    <option value="@Model[i].id" selected>@Model[i].name</option>
                }
                else
                {
                    <option value="@Model[i].id">@Model[i].name</option>
                }
            }
        </select>
    </div>

    <input type="button" id="submit" value="免费预约" class="ui-btn ui-shadow ui-corner-all ui-mini" />
</form>

<script>
    $('#submit').click(function () {
        var babyName = $('form').find('input[name="babyname"]').val()
        var parentPhone = $('form').find('input[name ="phone"]').val()
        var gender = ''
        debugger;
        if ($('#gender-m').is(':checked') && !$('#gender-f').is(':checked')) {
            gender = 'M'
        } else if (!$('#gender-m').is(':checked') && $('#gender-f').is(':checked')) {
            gender = 'F'
        }
        
        if (babyName.replace(/ /g, '') == '') {
            alert('请输入宝宝姓名')
            return
        } else if (babyName.length > 50) {
            alert('宝宝姓名长度超过限度')
            return
        }

        if (parentPhone == null || parentPhone.length < 8 || parentPhone.length > 20) {
            alert('请输入联系方式')
            return
        }

        $.post('/Home/SubmitBooking', {
            'babyName': babyName,
            'birthYear': $('#birth-year').val(),
            'birthMonth': $('#birth-month').val(),
            'parentPhone': parentPhone,
            'school': $('form').find('input[name="school"]').val(),
            'salesId': $('#sales').val(),
            'gender': gender
        }, function (data, status) {
            if (data) {
                location.href = "/Home/SubmitSuccess"
            } else {
                alert('对不起，系统有误，请稍候再试')
            }
        })
    })
</script>