<!DOCTYPE html>
<html lang="zh-cn">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>维特牧思·宝宝运动会</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
    @Scripts.Render("~/bundles/jquery")

</head>
<body>
    <div data-role="header">
        <img src="~/Content/Images/sports.png" style="width: 100%" />

    </div>

    <div data-role="content">
        @RenderBody()
    </div>

    <div data-role="footer" data-position="fixed" data-theme="a">
        <div data-role="navbar" data-iconpos="top">
            <ul>
                <li><a id="homelink" href="#" data-icon="home" class="ui-btn-active">首页</a></li>
                <li><a id="bookinglink" href="#" data-icon="star">免费试听课</a></li>
                <li><a id="mylink" href="#" data-icon="gear">运动会</a></li>
            </ul>
        </div>
        <!-- /navbar -->
    </div>


    @Scripts.Render("~/bundles/jquerymobile")
    @RenderSection("scripts", required: false)

    <script>
        $(document).ready(function () {
            if (location.href.indexOf('/Home/Index') > -1) {
                $('#homelink').addClass('ui-btn-active')
                $('#bookinglink').removeClass('ui-btn-active')
                $('#mylink').removeClass('ui-btn-active')
            } else if (location.href.indexOf('/Home/Register') > -1) {
                $('#bookinglink').addClass('ui-btn-active')
                $('#homelink').removeClass('ui-btn-active')
                $('#mylink').removeClass('ui-btn-active')
            } else if (location.href.indexOf('/Home/Activity') > -1) {
                $('#homelink').removeClass('ui-btn-active')
                $('#bookinglink').removeClass('ui-btn-active')
                $('#mylink').addClass('ui-btn-active')
            }

            $('#homelink').click(function () {
                location.href = '/Home/Index'
            })

            $('#bookinglink').click(function () {
                location.href = '/Home/Register'
            })

            $('#mylink').click(function () {
                location.href = '/Home/Activity'
            })
        })
    </script>
</body>

</html>
