<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>@ViewBag.Title - 南通维特牧思</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
    @Scripts.Render("~/bundles/jquery")
</head>
<body>

    <nav class="navbar navbar-expand-md navbar-dark fixed-top bg-dark">
        <a class="navbar-brand" href="#">南通维特牧思 管理后台</a>
        <button class="navbar-toggler d-lg-none" type="button" data-toggle="collapse" data-target="#navbarsExampleDefault" aria-controls="navbarsExampleDefault" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <ul class="navbar-nav mr-auto">
                
        </ul>
        <form class="form-inline mt-2 mt-md-0 __web-inspector-hide-shortcut__" action="/Login/LogOff" method="post">
            <p style="color: #ccc; position: relative; top: 8px">欢迎回来， @ViewBag.UserName </p>&nbsp;&nbsp;
            <button class="btn btn-outline-success my-2 my-sm-0" type="submit">退出登录</button>
        </form>

    </nav>

    <div class="container-fluid">
        <div class="row">
            <nav class="col-sm-3 col-md-2 d-none d-sm-block bg-light sidebar">
                <ul class="nav nav-pills flex-column">
                    <li class="nav-item">
                        @if (ViewBag.CurrentPage == "HOME")
                        {
                            <a class="nav-link active" href="/">首页</a>
                        }
                        else
                        {
                            <a class="nav-link" href="/">首页</a>
                        }
                    </li>
                    <li class="nav-item">
                        @if (ViewBag.CurrentPage == "TRIAL")
                        {
                            <a class="nav-link active" href="/Home/TrialUser">试听课预约</a>
                        }
                        else
                        {
                            <a class="nav-link" href="/Home/TrialUser">试听课预约</a>
                        }
                    </li>
                </ul>

            </nav>

            <main class="col-sm-9 ml-sm-auto col-md-10 pt-3" role="main">
                @RenderBody()
            </main>
        </div>
    </div>

    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
</body>
</html>
